<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color:  black !important;">
    <a class="navbar-brand" href="http://127.0.0.1:8000/exemplar/easteregg/"
    ><img
            id="logo"
            src="../../static/img/logo.png"
            alt="logo"
            style="height: 50px"
    /></a>
    <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">Úvodní stránka</a>
            </li>
            <!--
           <li class="nav-item dropdown active">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="dropdownSouhrn"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Souhrn</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownSouhrn">
                <a class="dropdown-item" href="#">x</a>
                <a class="dropdown-item" href="#">x</a>
              </div>
            </li>
         -->
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/exemplar/exemplare/">Přehled exemplářů</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Odvětví</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input
                    class="form-control mr-sm-2"
                    type="text"
                    placeholder="Hledat"
            />
            <button
                    id="lupa"
                    class="btn btn-outline-secondary my-2 my-sm-0"
                    type="submit"
            >
                <i class="fa fa-search" style="color:  white;"></i>
            </button>
        </form>
    </div>
</nav>