{% extends "base.html" %}
{% block content %}
<div class="row" style="margin: 20px">
 <div class="col-sm-12">
 <h2 class="text-center" style="font-size: 25px;text-transform: uppercase;background-color: rgba(0,0,0,0.4);padding: 5px;">Výběr nejlepších exemplářů</h2>
 </div>
</div>
<div class="row">
 {% for exemplar in exemplare %}
 <div class="col-sm-4">
 <div class="card">
 {% if exemplar.poster %}
 <img class="img-fluid mx-auto d-block " style="max-height: 300px; width: auto; margin-top: 20px" src="{{ exemplar.poster.url }}" alt="{{ exemplar.nazev }}">
 {% endif %}
 <div class="card-body">
 <h4 class="card-title">{{ exemplar.nazev}}</h4>
 <p class="card-text"><strong>Odvětví:</strong>
 {% for odvetvi in exemplar.odvetvi.all %}<button class="btn btn-light">{{ odvetvi.nazev }}</button>{% endfor %}
 </p>
 <p><strong>Hodnocení:</strong> {{ film.rate }}</p>
 <a href="{% url 'exemplar_detail' exemplar.pk %}" class="btn btn-primary">Podrobnosti</a>
 </div>
 </div>
 </div>
 {% endfor %}
</div>
<div class="row">
 <div class="col-sm-12">
 <strong>Celkový počet exemplářů:</strong> {{ pocet_exemplaru }}
 </div>
</div>
{% endblock %}